/*#restart {
  background-image: url(./images/Captura\ de\ pantalla\ 2023-07-21\ 201248.png);
  background-size: cover;
  padding: 10px;
  position: absolute;
  top: 390px;
  left: 470px;
  width: 130px;
  height: 40px;
}*/

#main-Board3 {
  position: relative;
  width: 1080px;
  height: 700px;
  margin: auto;
  overflow: hidden;
  background-image: url(./images/gameOverFinal.jpg);
  background-size: cover;
  min-width: 500px;
  margin-bottom: 300 px;
  background-repeat: no-repeat;
}


