#main-Board3 {
  position: relative;
  width: 1080px;
  height: 700px;
  margin: auto;
  overflow: hidden;
  background-image: url(../images/gameOverFinal.jpg);
  background-size: cover;
  min-width: 500px;
  margin-bottom: 300 px;
  background-repeat: no-repeat;
}


