

#main-board {
  background-image: url(./images/animatedBackground.gif);
  background-size:cover;
  position: relative;
  width: 1080px;
  height: 700px;
  margin-top: 250px;
  margin-left: 750px;
  overflow: hidden;
}

#land {
  position: absolute;
  top: 600px;
  background-image: url(./images/road.jpg);
  width: 1080px;
  height: 100px;
  margin: auto;
}

#player {
  position: absolute;
  width: 135px;
  height: 200px;
  background-image: url(./images/moto-x3m-new.png) ;
  background-size: cover;
}

.obstacle {
  background-image: url(./images/rampa.jpg);
  position: absolute;
  width: 200px;
  height: 150px;
}

#scoreBoard {
  position: absolute;
  font-size: xx-large;
  color: whitesmoke;
  left: 540px;
  top: 10px;
}






