#menu-btn {
  background-image: url(../images/Captura\ de\ pantalla\ 2023-07-21\ 201248.png);
  background-size: cover;
  padding: 10px;
  position: absolute;
  top: 390px;
  left: 470px;
  width: 130px;
  height: 40px;
}

#main-Board2 {
  position: relative;
  width: 1080px;
  height: 700px;
  margin: auto;
  overflow: hidden;
  background-image: url(../images/motocrossmania-1-removebg-preview.jpg);
  background-size: cover;
}




