#menu-btn {
  background-color: #8f1616;
  color: #fff;
  padding: 10px;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 420px;
  left: 490px;
  width: 100px;
  height: 30px;
  font-size: x-large;
  text-align: center;
  font-family:'Courier New', Courier, monospace
}

#menu-btn :hover {
  background-color: #f0f0f0;
}

#main-Board2 {
  background-color: aqua;
  position: relative;
  width: 1080px;
  height: 900px;
  margin: auto;
  overflow: hidden;
  background-image: url(/images/juegos-motocross-2_2_790x454.jpeg);
}

.title {
  text-align: center;
  font-size: 64px
}