#menu-btn {
  background-image: url(/images/Captura\ de\ pantalla\ 2023-07-21\ 201248.png) ;
  background-size: cover ;
  padding: 10px;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 420px;
  left: 470px;
  width: 130px;
  height: 40px;

}

#menu-btn :hover {
  background-color: #f0f0f0;
}

#main-Board2 {
  background-color: aqua;
  position: relative;
  width: 1080px;
  height: 900px;
  margin: auto;
  overflow: hidden;
  background-image: url(/images/motocrossmania-1.jpg);
  background-size: cover;
}

.title {
  text-align: center;
  font-size: 64px
}