#main-Board4 {
    background-color: aqua;
    position: relative;
    width: 1080px;
    height: 900px;
    margin: auto;
    overflow: hidden;
    background-image: url(/images/fondo-winner.jpg);
    background-size: cover;
    min-width: 500px;
  }

  h1 { 
    text-align: center;
  }



