#main-Board4 {
  position: relative;
  width: 1080px;
  height: 700px;
  margin: auto;
  overflow: hidden;
  background-image: url(../images/2661542-55053150-2560-1440.jpg);
  background-size: cover;
  min-width: 500px;
  background-repeat: no-repeat;
}


