#main-board {
  background-color: aqua;
  position: relative;
  width: 1080px;
  height: 900px;
  margin: auto;
}

#land {
  background-color: rgb(143, 22, 22);
  width: 1080px;
  height: 100px;
  margin: auto;
}

#player {
  position: absolute;
  background-color: black;
  width: 100px;
  height: 150px;
  transition: all 0s ease-in-out;
  transition: transform 1.5s ease-in-out;
}

.backflipD {
  transform: rotate(360deg);
  /*transform: translateX(500px)*/
}
.backflipA {
  transform: rotate(-360deg);
}

.matrix {
  transform: matrix(0.5, 0.1, 0.5, 1, 10, -1);
}

.jump {
  transform: translateY(-500px);
}

.wheelie {
  transform: rotate(-45deg);
}

.obstacle {
  position: absolute;
  background-color: brown;
  width: 100px;
  height: 150px;
}
.circle {
  position: absolute;
  background-color: brown;
  width: 100px;
  height: 150px;
}
